table {
  border-radius: 0.5rem;
}

.p-datatable-thead,
.p-datatable-thead tr {
  background: var(--dark-blue);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.p-datatable-thead {
  tr th {
    padding: 14px 16px !important;

    &:first-child {
      border-radius: 0.5rem 0 0 0;
    }

    &:last-child {
      border-radius: 0 0.5rem 0 0;
    }

    span {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: inherit;
      color: var(--slate-200);
    }
  }
}

.p-paginator,
.p-datatable-tbody,
.p-datatable-tbody tr {
  background: white !important;
}

.p-datatable-tbody {
  tr {
    td {
      padding: 16px;
      border-color: var(--gray-100) !important;

      span {
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--text-color);
      }
    }

    td.actions button {
      i,
      span {
        font-weight: 500;
        color: var(--text-color);
      }
    }
  }
}

.p-paginator {
  border-radius: 0 0 0.5rem 0.5rem !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background: white;
  color: var(--primary);

  &.p-disabled {
    opacity: 0.2;
  }

  &:hover {
    color: var(--primary) !important;
    background: rgba(51, 65, 85, 0.1) !important;
  }
}

.p-paginator .p-paginator-pages .p-paginator-page {
  opacity: 0.5;
  background: white;
  color: var(--primary);

  &:hover {
    color: var(--primary) !important;
    background: rgba(51, 65, 85, 0.1) !important;
  }

  &.p-paginator-page-selected {
    opacity: 1;
    font-weight: bold;
  }
}
