:root {
  --primary: #1e293b;
  --primary-rgb: rgb(51, 65, 85);
  --danger: #fca5a5;
  --gray-100: #f3f4f6;
  --slate-200: #e2e8f0;
  --dark-blue: #131e23;
  --text-color: #334155;
  --text-color-dark: #020617;
  --border-color: #cbd5e1;
}
